.idea/**/*.*

build

.gradle

local.properties

gradle

app/app.iml

import-summary.txt

*.hprof

captures/*

*.alloc

.DS_Store

*.trace

/app/src/androidTest/java/com/doapps/habits/activity/FacebookLoginTest.java

app/fabric.properties

app/schemas/*

codeiris/

projectFilesBackup/.idea/

*.swp
