<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.doapps.habits">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.yongchun.library.view.ImageSelectorActivity"/>
        <activity android:name="com.yongchun.library.view.ImagePreviewActivity"/>
        <activity android:name="com.yongchun.library.view.ImageCropActivity"/>
        <activity
            android:name=".activity.EditPhotoActivity"
            android:theme="@style/AppTheme.Auth"/>
        <activity
            android:name=".activity.AuthActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.Auth"/>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PasswordRecoveryActivity"
            android:theme="@style/AppTheme.Auth"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activity.MainActivity"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <receiver
            android:name=".receivers.Alarm"
            android:process=":remote"/>

        <service
            android:name=".services.YourService"
            android:enabled="true"
            android:process=":your_service">
        </service>
    </application>
</manifest>