<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.dohabit">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.dohabit.activity.AuthActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.Auth"
            android:windowSoftInputMode="stateVisible|adjustResize"
            />
        <activity
            android:name="com.dohabit.activity.MainActivity"
            android:launchMode="standard"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.dohabit.activity.PasswordRecoveryActivity"
            android:theme="@style/AppTheme.Auth"/>
        <activity
            android:name="com.dohabit.activity.BlankActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.dohabit.activity.MainActivity"/>
    </application>
</manifest>