<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.habit_track">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.AuthActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.Auth"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/AppTheme.Auth"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.PasswordRecoveryActivity"
            android:theme="@style/AppTheme.Auth"/>
        <activity
            android:name=".activity.BlankActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activity.MainActivity"/>

    </application>
</manifest>